.navbar {
  display: flex;
}

.game-field {
  display: flex;

  .opponent-field {
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    max-height: 650px;

    .opponent-board {
      flex-grow: 1;
      height: 225px;
      transform: scale(0.33);
    }
  }
}
